input[type="button"] {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.box
{
    width:50%;
    margin:0 auto;
    border: 1px solid #ccc;
    box-shadow: #4CAF50 0px 0px 10px;
}
.form-control {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    /* border: 1px solid #ccc; */
    box-sizing: border-box;
}
.form-control>input[type="text"]{
        padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.container
{
    display: flex;
    gap:20px;
}
.ballon
{
    height:60px;
    width:60px;
    border:2px solid black;
    border-radius: 50%;
    border-bottom-left-radius: 0px;
    transform: rotate(315deg);
    animation: animateballon 5s ;
    visibility:hidden;
}
@keyframes animateballon {
    from{margin-top:90dvh;visibility: visible;}
    to:{margin-top:1dvh}
    
}
.red
{
    background-color: red;
}
.yellow
{
    background-color: yellow;    
}
.green
{
    background-color: green;    
}